@font-face {
    font-family: Walkway;
    src: url("../fonts/Walkway/Walkway Bold.ttf");
}
@font-face {
    font-family: Bebas;
    src: url("../fonts/Bebas/BEBAS.ttf");
}
header {
    background-color: #fff;
    height: 50px;
}
.header-img {
    z-index: 100;
    position: fixed;
    top: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 -675px;
    width: 100%;
    height: 150px;
    display: table;
}
@media only screen and (min-width : 480px) {
    .header-img .logo {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}
.header-img .slogan {
    font-family: "Walkway", sans-serif;
    font-size: 25px;
    color: #333;
    text-align: center;
    margin: 0;
}
.nav {
    margin-top: 150px;
    font-size: 25px;
    font-family: "Bebas", sans-serif;
    height: 50px;
    padding-right: 0;
}
.nav ul {
    padding-left: 0;
}
.nav li {
    list-style: none;
    text-align: center;
    line-height: 50px;
}
.nav li a {
    color: #000;
}
.nav-shop:hover {
    color: #ff3030;
    text-decoration: none;
}
.nav-about:hover {
    color: #f9d010;
    text-decoration: none;
}
.nav-connect:hover {
    color: #00aadd;
    text-decoration: none;
}
.carousel {
    margin-top: 15px;
    position: relative;
}
.carousel-control {
    opacity: 0;
}
.carousel-control:hover {
    opacity: .5;
}
.btn {
    border-radius: 0;
    font-family: "Walkway", sans-serif;
    font-size: 15px;
}
.carousel-button,
.carousel-button:visited {
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -90px;
    background-color: #ff3030;
    color: #fff;
    font-size: 30px;
    width: 180px;
    padding: 10px 20px;
}
.carousel-button:hover {
    color: #fff;
    background-color: #ff4040;
}
.content-image {
    margin: 20px auto;
    display: block;
}
.home-content {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.85);
    text-align: center;
    font-family: "Walkway", sans-serif;
    font-size: 30px;
}
p.home-content {
    font-size: 20px;
}
.shop {
    margin-bottom: 35px;
}
.image-container img {
    margin-bottom: 20px;
    width: 350px;
}
.image-container {
    text-align: center;
    font-family: "Walkway", sans-serif;
    font-size: 25px;
}
.image-container a {
    color: #000;
}
.shop-row {
    margin-top: 40px;
    margin-bottom: 40px;
}
.Keith .Rengar:hover {
    color: #ff0000;
    text-decoration: none;
}
.Stole .Night-Hunter-Rengar:hover {
    color: #b90bb9;
    text-decoration: none;
}
.My .Head-Hunter-Rengar:hover {
    color: rgb(11, 158, 224);
    text-decoration: none;
}
.Other .Nidalee:hover {
    color: #00b900;
    text-decoration: none;
}
.Class .Snow-Bunny-Nidalee:hover {
    color: #ff6c00;
    text-decoration: none;
}
.Name .Kitty-Kat-Katarina:hover {
    color: rgb(245, 227, 12);
    text-decoration: none;
}
.about {
    margin-top: 35px;
    margin-bottom: 35px;
}
.about-intro h2 {
    width: 100%;
    display: block;
    font-family: "Walkway", sans-serif;
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
}
.about-intro lead {
    font-family: "Bebas", sans-serif;
}
.about-content {
    font-family: "Walkway", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    background-color: #ffbb00;
}
.profile-content h3 {
    font-weight: bolder;
    font-size: 30px;
}
.profile-content .position {
    font-size: 25px;
    font-weight: bold;
}
.profile-content .position-work {
    font-size: 20px;
    height: 300px;
}
.ceo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    -webkit-border-radius: px;
    -moz-border-radius: 100px;
    background: url(../img/ceo.png);
    margin-left: auto;
    margin-right: auto;
}
.coo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    -webkit-border-radius: px;
    -moz-border-radius: 100px;
    background: url(../img/coo.png);
    margin-left: auto;
    margin-right: auto;
}
.cto {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    -webkit-border-radius: px;
    -moz-border-radius: 100px;
    background: url(../img/cto.png);
    margin-left: auto;
    margin-right: auto;
}
.cco {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    -webkit-border-radius: px;
    -moz-border-radius: 100px;
    background: url(../img/cco.png);
    margin-left: auto;
    margin-right: auto;
}
.cio {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    -webkit-border-radius: px;
    -moz-border-radius: 100px;
    background: url(../img/cio.png);
    margin-left: auto;
    margin-right: auto;
}
.cmo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    -webkit-border-radius: px;
    -moz-border-radius: 100px;
    background: url(../img/cmo.png);
    margin-left: auto;
    margin-right: auto;
}
.cfo {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 180px;
    background: url(../img/cfo.png);
    margin-left: auto;
    margin-right: auto;
}
.connect {
    margin-top: 35px;
    margin-bottom: 35px;
}
.connect-content {
    font-family: "Walkway", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.connect-form {
    text-align: center;
    font-family: "Bebas", sans-serif;
}
.connect-form .form-group {
    margin-top: 10px;
    margin-bottom: 10x;
}
.connect-button {
    margin-top: 20px;
}
.footer {
    height: 300px;
    background-color: #ddd;
}
.footer-nav {
    margin-top: 25px;
    padding-left: 0;
    list-style: none;
    text-align: center;
    font-family: "Bebas", sans-serif;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.footer-nav .khordify {
    font-size: 30px;
}
.footer-nav .nav-khordify:hover {
    color: #00c957;
    text-decoration: none;
}
.footer-nav li {
    color: #000;
}
.footer-nav li a {
    color: #000;
}
.email-label {
    font-family: "Walkway", sans-serif;
    font-size: 20px;
}
.email {
    font-family: "Walkway", sans-serif;
    font-size: 15px;
}
.social-buttons {
    list-style: none;
    text-align:center;
    font-size: 24px;
}
.social-buttons li {
    padding-bottom: 10px;
}
.social-buttons .twitter,
.social-buttons .twitter:visited {
    color: #55acee;
}
.social-buttons .twitter:hover {
    opacity: .65;
}
.social-buttons .facebook,
.social-buttons .facebook:visited {
    color: #4c66a4;
}
.social-buttons .facebook:hover {
    opacity: .65;
}
.social-buttons .instagram,
.social-buttons .instagram:visited {
    color: #3f729b;
}
.social-buttons .instagram:hover {
    opacity: .65;
}
.copyright {
    font-family: "Walkway", sans-serif;
    font-size: 15px;
    text-align: center;
}
.copyright-symbol {
    font-family: sans-serif;
}